BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# Sets up reset button
LOCATE COMP "rst_n" SITE "D6";
IOBUF  PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33;

### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[1]" SITE "C2";
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[2]" SITE "C1";
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[3]" SITE "D2";
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[4]" SITE "D1";
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[5]" SITE "E2";
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[6]" SITE "E1";
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[7]" SITE "H3";
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

### Hint: Inputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "btn_right" SITE "H16";
IOBUF  PORT "btn_right" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "btn_up" SITE "R18";
IOBUF  PORT "btn_up" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "btn_left" SITE "U1";
IOBUF  PORT "btn_left" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "btn_down" SITE "V1";
IOBUF  PORT "btn_down" PULLMODE=DOWN IO_TYPE=LVCMOS33;

# VGA outputs
LOCATE COMP "vga_r0" SITE "D16";
IOBUF  PORT "vga_r0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "vga_g0" SITE "C17";
IOBUF  PORT "vga_g0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "vga_b0" SITE "C15";
IOBUF  PORT "vga_b0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "vga_r1" SITE "C16";
IOBUF  PORT "vga_r1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "vga_g1" SITE "B17";
IOBUF  PORT "vga_g1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "vga_b1" SITE "B15";
IOBUF  PORT "vga_b1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "vga_hs" SITE "C18";
IOBUF  PORT "vga_hs" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "vga_vs" SITE "D17";
IOBUF  PORT "vga_vs" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;